<!DOCTYPE html>
<html lang="en-US">
    <head>
    <title>Learning Course</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="angular-xeditable-0.1.8/css/xeditable.css">
    
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <style type="text/css">
        .editable-click, a.editable-click 
            {
                text-decoration: none;
                color: #000;
                border-bottom: 1px groove #000;
                border-width: 3px;
            }
    </style>
    <script type="text/javascript">
//     function allowDrop(ev) {
//     ev.preventDefault();
// }

// function drag(ev) {
//     ev.dataTransfer.setData("text", ev.target.id);
// }

// function drop(ev) {
//     ev.preventDefault();
//     var data = ev.dataTransfer.getData("text");
//     ev.target.appendChild(document.getElementById(data));
// }
    </script>
    </head>
    <body  ng-app="learn" ng-controller="LearnCourse"> 
        <div class="main">
        <div class="row">
    <!-- Left hand side of the image -->
       
        <div class="col-lg-6 col-md-6">
            <div style="border-bottom: 3px groove; margin-top: 20px; padding-left: 30px;" class="select">
                <!-- <select ng-options="lesson.subject as lesson.subject for lesson in allLessons "  ng-model="selectedSubject" ng-change="update()"> -->
                <select ng-options="lesson.subject as lesson.subject for lesson in allLessons | unique:'subject' "  ng-model="selectedSubject" ng-change="update()">
                    <option value=''>Subject</option>
                </select> &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
                <select ng-options="lesson.grade as lesson.grade for lesson in allLessons | unique:'grade'"  ng-model="selectedGrade" ng-change="update()">
                    <option value=''>Grade</option>
                </select>
            </div>
          
            <div class="leftSide" class="list-group-item" ng-repeat="lesson in lessons"  ng-drag="true" ng-drag-data="lesson">
                <div class="courseImage"><img id="courseimg" height="150" width="200" ng-src={{lesson.image}}></div>
                <div class="detail">
                <h3>{{lesson.title}} </h3>
                <p>{{lesson.subject}}, Grade {{lesson.grade}}</p>
                <ul>
                    <li ng-show="lesson.noOfVideos!=0">{{lesson.noOfVideos}}&nbsp <span class="glyphicon glyphicon-facetime-video"></span></li>
                    <li ng-show="lesson.noOfDocuments!=0">{{lesson.noOfDocuments}}&nbsp  <span class="glyphicon glyphicon-file"></span></li>
                    <li ng-show="lesson.noOfQuestions!=0">{{lesson.noOfQuestions}}&nbsp  <span class="glyphicon glyphicon-question-sign"></span></li>
                </ul> 
                </div>

            </div>
        </div>
            <!-- left side ends here -->

    <!-- Right hand side of the image -->
    <div class="col-lg-6 col-md-6">
            <div class="rightSide">
            <p id="create"><h5>Create a New Course</h5></p>
            <div ng-controller="LearnCourse">
            <h5><a href="#" editable-text="course.name" id="courseName">{{ course.name || 'empty' }}</a></h5>
            <p id="topic">Topics </p>
            <div ng-include="'rightSideTopics.html'" ng-init="topics = course.topics;"></div>
            
          
            </div>              
            </div>
      </div>
          <!-- Right Side ends here -->
</div>
</div>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="ngdraggable/ngDraggable.js"></script>
        
          <script type="text/javascript" src="angular-xeditable-0.1.8/js/xeditable.js"></script>
          <script type="text/javascript" src="ui-utils-0.2.3/ui-utils.js"></script>
          <script type="text/javascript" src="js/angular-drag-and-drop-lists.js"></script>

        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/maincontroller.js"></script>
    </body>
</html>