<!DOCTYPE html>
<html lang="en-US">
    <head>
    <title>Learning Course</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="angular-xeditable-0.1.8/css/xeditable.css">
    
   
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
       <style type="text/css">
       		.editable-click, a.editable-click 
            {
                text-decoration: none;
                color: #000;
                border-bottom:1px solid gray;
                border-width: 3px;
            }
       </style>
    
       
   
      </head>

    <body  ng-app="learn" ng-controller="LearnCourse"> 
        <div class="main">
        <div class="row">
    <!-- Left hand side of the image -->
       
        <div class="col-lg-6 col-md-6">
            <!--div class="selects">
              
                <select ng-options="lesson.subject as lesson.subject for lesson in getBaseData() | unique:'subject' "  ng-model="selectedSubject" ng-change="update()">
                    <option value=''>Subject</option>
                </select> &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
                <select ng-options="lesson.grade as lesson.grade for lesson in getBaseData() | unique:'grade'"  ng-model="selectedGrade" ng-change="update()">
                    <option value=''>Grade</option>
                </select>
            </div-->
          
            <div class="selects">
              
                <select ng-options="subject as subject for subject in getSubjects() | unique:'subject' "  ng-model="selectedSubject" ng-change="update()">
                    <option value=''>Subject</option>
                </select> &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
                <select ng-options="grade as grade for grade in getGrades() | unique:'grade'"  ng-model="selectedGrade" ng-change="update()">
                    <option value=''>Grade</option>
                </select>
            </div>
          
            <div class="leftSide" class="list-group-item" ng-repeat="lesson in lessons"  ng-drag="true" ng-drag-data="lesson">
                <div class="courseImage"><img id="courseimg" height="40" width="150" ng-src={{lesson.image}}></div>
                <div class="detail">
                <h4>{{lesson.title}} </h4>
                <p>{{lesson.subject}}, Grade {{lesson.grade}}</p>
                <ul id="detail-li">
                    <li ng-show="lesson.noOfVideos!=0">{{lesson.noOfVideos}}&nbsp <span class="glyphicon glyphicon-facetime-video"></span></li>
                    <li ng-show="lesson.noOfDocuments!=0">{{lesson.noOfDocuments}}&nbsp  <span class="glyphicon glyphicon-file"></span></li>
                    <li ng-show="lesson.noOfQuestions!=0">{{lesson.noOfQuestions}}&nbsp  <span class="glyphicon glyphicon-question-sign"></span></li>
                </ul> 
                </div>

            </div>
        </div>
            <!-- left side ends here -->

    <!-- Right hand side of the image -->
    <div class="col-lg-6 col-md-6">
            <div class="rightSide">
            
            <h4><p id="rightHead">Create a New Course</p></h4>
            
            <div ng-controller="LearnCourse">
            <h5><a href="#" editable-text="course.name" id="courseName">{{ course.name || 'empty' }}</a></h5>
            <p id="topic">Topics </p>
            <div ng-include="'rightSideTopics.html'" ng-init="topics = course.topics;"></div>
            
          
            </div>              
            </div>
      </div>
          <!-- Right Side ends here -->
</div>
</div>
        <script src= "js/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
         <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="ngdraggable/ngDraggable.js"></script>
        
          <script type="text/javascript" src="angular-xeditable-0.1.8/js/xeditable.js"></script>
          <script type="text/javascript" src="ui-utils-0.2.3/ui-utils.js"></script>
          <script type="text/javascript" src="js/angular-drag-and-drop-lists.js"></script>

        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/maincontroller.js"></script>
        <script type="text/ng-template" id="rightSideTopics.html">
<div ng-repeat="topic in topics">
            <p  editable-text="topic.name" >&nbsp &nbsp{{ $index +1 }}. &nbsp &nbsp{{topic.name}}</p>
            <div ng-include="'rightSideLessons.html'" ng-init="lessons = topic.lessons;"></div>
            <p>Required Proficiency
            <select ng-options="name as name for name in proficiency" ng-model="topic.proficiency" ng-change="">
                    <option value=''>Select</option>
                </select> </p>

 </div>
    </script>
    <script type="text/ng-template" id="rightSideLessons.html">
         <div id="droppable-area" ng-drop="true" ng-drop-success="onDropComplete($data,$event,lessons)">
			<div ng-repeat="lesson in lessons" class="selected_lesson">
					  	 
					  	 <p>{{ $index +1 }}.<img id="rightImg" height="120" width="150" ng-src={{lesson.image}}></p>      
						  	<div id="rightDetail"><a href="#">{{ lesson.title || 'empty' }}
						  	</a>
						  	<a href="#" ng-click="deleteWish(lesson,lessons)"><i class="glyphicon glyphicon-remove"></i></a></div>


					  	</p> 
			
           			
           	</div>

         
				<!--<p id="dropNote" ng-show="lessons.length==0"> Please drop lessons here</p>-->
                 <p id="dropNote" > Please drop lessons here</p>
		
</div>

       </script>
    </body>
</html>