       <div id="droppable-area" ng-drop="true" ng-drop-success="onDropComplete($data,$event,lessons)">
			<div ng-repeat="lesson in lessons" class="selected_lesson">
					  	 
					  	 <p>{{ $index +1 }}.<img id="rightImg" height="120" width="150" ng-src={{lesson.image}}></p>      
						  	<div id="rightDetail"><a href="#">{{ lesson.title || 'empty' }}
						  	</a>
						  	<a href="#" ng-click="deleteWish(lesson,lessons)"><i class="glyphicon glyphicon-remove"></i></a></div>


					  	</p> 
			
           			
           	</div>

         
				<p id="dropNote" ng-show="lessons.length==0"> Please drop lessons here</p>
		
</div>
